<div class="container-fluid">

  <div class="navbar-place2be">
    <%= link_to "City-guide", places_path, class: "navbar-active"%>
    <%= link_to "Map", "#" %>
    <%= image_tag("logo-place2be.png", class: "logo-place2be") %>
    <%= link_to "Our team", "#" %>
    <%= link_to "About us", "#" %>
  </div>

</div>

