<div class="container">
  <%= link_to "Ajouter un nouveau spot", new_place_path %>
  <div class="places-block">
    <% @places.each do |place| %>
      <%= link_to place_path(place) do %>
        <div class="place-card">
          <%= place.name %>
          <%= place.address %>
          <%= place.price_level %>
          <%= place.district.name %>
          <%= place.category.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
